.header {
  display: flex;
  justify-content: space-between;
}
.heroes-list {
  .card-img-body {
    background-color: #000;
    max-height: 200px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .btn {
    border-radius: 0;
    box-shadow: 3px 3px 1px #999;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #999;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}