.heroes-list {
  .card-img-body {
    background-color: #000;
    max-height: 200px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}