.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh / 16 * 9);
  
  .banner-text {
    text-transform: uppercase;
    h1 {
      background-color: #000;
      color: #fff;
      display: inline;
      font-weight: 900;
      padding: .5rem 1rem;
      position: relative;
      text-shadow: 2px 2px 1px #999;
      box-shadow: 3px 3px 1px #999;
    }
    .banner-text-slogan {
      font-family: 'Oswald', sans-serif;
      font-size: 1.7rem;
      padding: 0 1rem;
      text-shadow: 2px 2px 1px #999;
    }
  }
  img {
    height: 100%;
  }
}