$theme-colors: ('primary': #000);

@import 'bootstrap/scss/bootstrap.scss';


body {
  font-family: 'Roboto';
}
.btn {
  border-radius: 0;
  box-shadow: 3px 3px 0 #999;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px #999;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
.form-control {
  border-radius: 0;
  box-shadow: 3px 3px 0 #999;
}
.label-full {
  width: 100%;
}

.list-group,
.card,
.card-img,
.card-img-bottom {
  border-radius: 0;
}

.card {
  box-shadow: 3px 3px 0 #999;
}
