.hero-view {
  .space-dots {
    border-bottom: 1px dotted #ccc;
    flex-grow: 2;
    margin: .6rem 1rem;

    .card-img {
      animation: slide 60s linear infinite;
    }
  }

 .total {
   strong {
    font-family: 'Oswald', sans-serif;
   }
 } 
}